.container{
    padding: 10px;
}

/* WELCOME CLIMA LABORAL */
.article--welcome__clima{
    border: solid 2px rgb(24, 155, 7);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 30px 50px 50px;
    width: 85vw;
}
.section--margin{
    margin: 25px 0;
    overflow-wrap: break-word;
}
.section--margin>*{
    margin-top: 10px;
}
.section--margin>ol,.section--margin>ul{
    padding-left: 50px;
}
.acept--terms{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto 0;
    width: 50%;
}
.btn-terms{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
}
.btn-yes{
    background-color: #198754;
    border-color: #198754;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
.btn-no{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* DATOS */
.article__encuesta--datos{
    margin: 20px auto;
    width: 85%;
}
.form__encuesta--datos{
    display: grid;
    gap: 30px 60px;
    grid-template-columns: repeat(2,1fr);
}
.div__datos{
    display: flex;
    flex-direction: column;
}
.div__datos>label{
    margin-bottom: 5px;
}
.div__datos input, select{
    height: 25px;
    width: 50%;
}
.article__encuesta{
    display: grid;
    row-gap: 50px;
}
.article__encuesta input[type=submit]{
    cursor: pointer;
    justify-self: center;
}

/* TABLA PREGUNTAS */
.form--encuesta__table{
    border-collapse:collapse;
    margin: 0 auto;
    width: 60%;
}
.cell-width{
    width: 5%;
}
.radio-center{
    display: block;
    margin: 0 auto;
}
.form--encuesta__table tbody tr{
    border-bottom: 1px solid #d0d4d8;
}
.form--encuesta__table tbody tr td{
    padding: 10px;
}
.form--encuesta__table tbody tr td:not(:first-child,:last-child),.form--encuesta__table thead tr th:not(:first-child,:last-child){
    border-right: 1px solid #d0d4d8;
}
.form--encuesta__table thead tr th{
    border-bottom: 1px solid #000;
    padding: 5px;
}

/* EXPLICACION */
.encuesta--div__explain{
    background-color: #cfe2ff;
    border-color: #b6d4fe;
    border-radius: 5px;
    color: #084298;
    margin: 30px 30px;
    padding: 20px 30px;
}
.encuesta--div__title{
    margin: 40px 0;
}
.h4--title{
    text-align: center;
}

/* SECCION LIBRE */
.div__container--libre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px 70px;
    row-gap: 50px;
}
.libre--div{
    display: flex;
    flex-direction: column;
}
.libre--textarea{
    margin-top: 5px;
    padding: 4px 10px;
    width: 70%;
}

/* FIN */
.encuesta--fin{
    align-items: center;
    background-color: #2a8ebdb6;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    margin: 30px auto;
    width: 75%;
}

/* DESEMPEÑO LABORAL */
/* WELCOME */
.welcome--table{
    margin: 0 auto;
    width: 50%;
}
.welcome--table>table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}
.welcome--table>table>thead th{
    border-right: 1px solid #000;
    padding: 2px;
}
.welcome--table>table>tbody>tr{
    border-top: 1px solid #000;
}
.welcome--table>table>tbody>tr>td:not(:last-child){
    border-right: 1px solid #000;
}
.welcome--table>table>tbody>tr>td{
    padding: 2px;
}
/* INSTRUCCIONES */
.article__instruction{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
}
.article__instruction>form{
    grid-column: span 2;
    justify-self: center;
}
.section__instruction>p{
    margin: 5px 0 15px;
}
.section__instruction2>p{
    margin: 5px 0 15px;
}
.section__instruction2>ol{
    margin: 0 40px 10px;
}
.section__instruction2>ol>li{
    font-size: 1.1rem;
}
/* TITULO */
.desempeño--title{
    margin-top: 150px;
    text-align: center;
}
.color--red{
    color: crimson;
    margin-top: 20px;
}
.desempeño--title>form{
    margin-top: 50px;
}

/* AUTOMATIZACION DE PRUEBAS */
.th__time{
    width: 20%;
}
.sentence-center{
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-center>h2{
    margin-bottom:10px;
}
.temporizador{
    margin: 40px 0;
    text-align: center;
}
.temporizador>h5{
    color: #ea4c4c;
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 10px;
}
#temporizador{
    font-size: 2rem;
    padding: 0 .5rem;
}