.article__index{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    padding: 0 30px;
    gap: 50px;
}
.article__index>section>h3{
    background-color: rgba(32, 32, 32, 0.884);
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 15px 40px;
}
.section--ul{
    list-style: none;
}
.li__index{
    background-color: #f4c544c2;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    margin: 5px 0;
}
.li__index:last-child{
    border-radius: 0 0 10px 10px;
}
.li__index>a{
    font-size: 1.1rem;
    margin-left: 20px;
}
.fa-2x{
    color: #39741e;
}
/* MENSAJES */
.div--success{
    align-items: center;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 5px;
    color: #0f5132;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    margin: 30px 30px;
    padding: 20px 30px;
}
.img--success{
    width: 20px;
    margin-right: 20px;
}

/* ELEGIR EMPRESA */
.ul__empresa{
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(5,1fr);
    list-style: none;
    margin: 50px 50px;
}
.ul__empresa li a{
    font-size: 1.2rem;
    text-decoration: none;
}

/* AGREGAR EMPRESA */
.article__agregar form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    row-gap: 30px;
}
.newEmpresa{
    display: flex;
    flex-direction: column;
}
.newEmpresa input{
    margin-top: 5px;
    width: 300px;
}