.body-home{
    display: flex;
    flex-direction: row-reverse;
}
.body-home>aside{
    display: flex;
    align-items: center;
}
.body-home>article{
    flex-grow: 1;
}
.align-self-center{
    align-self: center;
}
.header-index-home nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    margin: 0 20px;
}
.article__index{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:20px;
    padding: 0 30px;
    gap: 50px;
}
.article__index>section>h3{
    color: #fff;
    border-bottom: white 1px solid;
    padding: 15px 15px;
}
.section--ul{
    list-style: none;
}
.li__index{
    background-color: #F0D67B;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    margin: 5px 0;
}
.li__index>a{
    color: #1D245A;
}
.li__index:last-child{
    border-radius: 0 0 10px 10px;
}
.li__index>a{
    font-size: 1.1rem;
    margin-left: 20px;
}
.fa-2x{
    color: #447323;
}
/* MENSAJES */
.div--success{
    align-items: center;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 5px;
    color: #0f5132;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    margin: 30px 30px;
    padding: 20px 30px;
}
.img--success{
    width: 20px;
    margin-right: 20px;
}
.div--error{
    align-items: center;
    background-color: #f8d7da;
    border-color: #f8d7da;
    border-radius: 5px;
    color: #842029;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    margin: 30px 30px;
    padding: 20px 30px;
}
/* AGREGAR EMPRESA */
.article__agregar form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    row-gap: 30px;
}
.newEmpresa{
    display: flex;
    flex-direction: column;
}
.newEmpresa input{
    margin-top: 5px;
    width: 300px;
}
.margin-top-bot{
    margin: 40px 0;
}

/* AGREGAR OPCIONES - EMPRESA */
.form--create__dato{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.form--create--dato__titles,.form--create--dato--opciones__nombres{
    align-items: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 10px 1fr;
    padding: 10px;
}
.form--create--dato__opciones{
    display: flex;
    flex-direction: column;
}
.form--create--dato__opciones>input{
    margin-top: 5px;
    width: 75%;
}
.input--center{
    justify-self: end;
}
.border--bot{
    border-bottom: 1px solid #fff;
    margin: 5px 0;
}
.padding-all{
    padding: 10px;
}
@media screen and (min-width: 1600px){
    .img--logo--home{
        height: 40vh;
    }
}