@font-face {
    font-family: Questrial;
    src: url('/fonts/QUESTRIAL FONT/Questrial-Regular.ttf');
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url('/fonts/RALEWAY FONT/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('/fonts/RALEWAY FONT/Raleway-Bold.ttf');  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{ 
    min-height: 100vh;
    overflow: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway-Bold', sans-serif;
}
a,p,label,td,th,li{
    font-family: 'Questrial', sans-serif;
}
button,input[type=submit]{
    font-family: 'Raleway-SemiBold', sans-serif;
}
:focus:not(:focus-visible) {
    outline: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:visited{color: blue;}
input[type=text]{padding: 5px;}
input[type=email]{padding: 5px;}
input[type=password]{padding: 5px;}

/* NAV */
header nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    margin: 0 20px 100px;
}
.div__home{
    display: flex;
    align-items: center;
}
.img--logo{
    height: 12vh;
}

/* HEADER ENCUESTA */
.header--encuesta{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.header--encuesta__img{
    width: 7vw;
}

/* BUTTON */
.btn{
    background-color: transparent;
    border: solid 1px #0c746c;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}