@font-face {
    font-family: Questrial;
    src: url('/fonts/QUESTRIAL FONT/Questrial-Regular.ttf');
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url('/fonts/RALEWAY FONT/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('/fonts/RALEWAY FONT/Raleway-Bold.ttf');  
}
@font-face {
    font-family: Raleway-ExtraLight;
    src: url('/fonts/RALEWAY FONT/Raleway-ExtraLight.ttf');  
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{ 
    min-height: 100vh;
    overflow: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway-Bold', sans-serif;
}
a,p,label,td,th,li,caption{
    font-family: 'Questrial', sans-serif;
}
button,input[type=submit]{
    font-family: 'Raleway-SemiBold', sans-serif;
}
:focus:not(:focus-visible) {
    outline: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:visited{color: blue;}
input[type=text]{padding: 5px;}
input[type=email]{padding: 5px;}
input[type=password]{padding: 5px;}

/* NAV */
header nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    margin: 0 20px 100px;
}
.div__home{
    display: flex;
    align-items: center;
}
.img--logo{
    height: 12vh;
}

/* HEADER ENCUESTA */
.header--encuesta{
    align-items: center;
    display: grid;
    margin: 0 auto;
    padding: 20px;
    width: 85vw;
}
.header--encuesta--logo{
    align-items: center;
    display: flex;
    grid-row: 1;
    justify-self: flex-start;
}
.header--encuesta__img{
    width: 10vw;
}
.header--encuesta__img--transparent{
    opacity: 0.5;
    width: 5vw;
}
.title--logo{
    color: #0f8379;
}
.title--logo:last-of-type{
    margin-left: 10px;
}
.header--encuesta--title{
    grid-column: span 2;
    grid-row: 1;
}
.header--encuesta--title>h3,.title--header--encuesta{
    color: #0f8379;
    font-family: Raleway-ExtraLight;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

/* BUTTON */
.btn{
    background-color: transparent;
    border: solid 1px #0c746c;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}