.h2__title{
    margin-bottom: 50px;
    text-align: center;
}
/* IMPORTAR MAIL */
.form__importMail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__importMail>input[type='file'],.download--template{
    margin-bottom: 40px;
}
/* CLIMA LABORAL */
.div__importar{
    display: flex;
    justify-content: center;
}
.div__importar>a:first-of-type{
    margin-right: 10px;
}
.link-color{
    color: #000;
    text-align: center;
}
.link-color:visited{
    color: #000;
}
.form__clima{
    display: grid;
    grid-template-rows: max-content;
    justify-items: center;
    margin: 30px auto;
    row-gap: 30px;
    width: 90vw;
}
.form--clima__table{
    border-collapse:collapse;
    margin: 10px auto;
    width: 35%;
}
.form--clima__table>thead>tr>th{
    border-bottom: solid 1px #000;
    padding: 10px;
    text-align: left;
}
.form--clima__table thead>tr>th:last-child{
    width: 25%;
    text-align: center;
}
.form--clima__table>tbody{
    border-bottom: solid 1px rgb(105, 105, 105);
}
.form--clima__table tbody>tr>td{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.form--clima--div__cantidad>input {
    margin-left: 20px;
    width: 50px;
}
.form--clima--div__email,.form--create--dato__option{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    width: 45vw;
}
.form--clima--div__email>div:not(.div--email__guardados),.form--create--dato__option>div{
    display: flex;
    flex-direction: column;
}
.form--clima--div__email>div>label:last-of-type{
    margin-top: 5px;
}
.div--email__guardados{
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 5px;
}
.div--email__guardados>a{
    grid-column: 1;
    grid-row: 1/span 2;
    align-self: center;
    justify-self: end;
}
.div--email__guardados>div{
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.button--eliminarInput{
    align-self: center;
    margin-top: 10px;
    padding: 5px 20px;
}
/* DESEMPEÑO LABORAL */
.form__desempeño{
    display: grid;
    grid-template-columns: repeat(2,30%);
    justify-content: center;
    row-gap: 70px;
}
.form--desempeño__div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 20vw;
}
.evaluar{
    grid-column: span 2;
}
.form--desempeño__div>input{
    height: 25px;
    margin-top: 8px;
}
.btn-center{
    grid-column: span 2;
    justify-self: center;
}
.color-new-violet{
    background-color:#7030a0 ;
    color: #fff;
    padding: 5px 5px 10px;
}
.color-new-red{
    background-color: #ff0000c7;
    color: #fff;
    padding: 5px 5px 10px;
}
.color-new-blue{
    background-color: #0070c0;
    color: #fff;
    padding: 5px 5px 10px;
}
.color-new-orange{
    background-color: #c55a11;
    color: #fff;
    padding: 5px 5px 10px;
}

/* AUTOMATIZACION DE PRUEBAS */
.form__automatizacion{
    display: flex;
    flex-direction: column;
}
.article__automatizacion{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.automatizacion__section, .automatizacion__table{
    width: 40%;
}
.automatizacion__div{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
}
.automatizacion__div input{
    height: 25px;
    padding: 5px;
    width: 60%;
}
.automatizacion__div label{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.aling-center-self{
    align-self: center;
}
.time--input{
    padding: 5px;
    width: 90%;
}