.ancho-completo{
    width: 90%;
}
.reporte--download{
    display: flex;
    justify-content: center;
}
.article__report{
    margin: 100px 0
}
.article__report>h4{
    margin-left: 30px;
}
.article__report>.form--clima__table>thead>tr>th:last-child{
    width: auto;
}
.reporte--download>a{
    color: #000;
}
.margin-bot{
    margin-bottom: 30px;
}